body {
    width: 100%;
    height: 100%;
    background-color: #F0F8FF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    box-sizing: border-box;
}


main {
    margin-top: 20%;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #1C1C1C;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #1C1C1C;
    margin-top: 10px;
    margin-left: 30px;
}

.content {
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #CD5C5C;
    background-color:#FFE4E1;
    cursor: pointer;
    color: #8B0000;
    font-size: 15px;
    font-weight: 600;
}

.button:hover {
    color: #ffffff;
    background-color: #DB7093;
    border: 1px solid #D8BFD8;
}

.modal_container {
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 10;
}

.modal_container.show {
    display: flex;
    pointer-events: auto;
    opacity: 1;
}

.modal_join {
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.932);
}

.modal_create {
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.932);
}


.modal_header {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.modal_header p {
    font-size: 30px;
    font-weight: 600;
    padding-left: 100px;
    padding-top: 30px;
}

.modal_header span {
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.input-icon span {
    font-size: 40px;
    margin-left: 15px;
    color: #363636;
}

.input-icon input {
    width: 200px;
    height: 20px;
}

.box_content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.music_list {
    width: 250px;
    height: auto;
    background-color: 	#BDB76B;
    border-radius: 50px;
    border: 5px solid #808000;
    box-sizing: border-box;
}

.music_list p {
    font-size: 25px;
    font-weight: 500;
    padding-left: 35px;
}

.list {
    width: 100%;
    height: auto;
}

.music {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.music img {
    width: 50px;
    height: 50px;
}

.descriptions {
    display: flex;
    flex-direction: column;
}

.descriptions h1 {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
}

.descriptions p {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    color: #363636;
}

.music_link {
    width: 500px;
    height: 400px;
    background-color: #F0E68C;
    border-radius: 60px;
    border: 5px solid #FF8C00;
    box-sizing: border-box;
    margin-top: 60px;
}

.link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    box-sizing: border-box;
}

.link h1 {
    font-size: 30px;
    font-weight: 600;
}

.link span {
    font-size: 100px;
    color: #DAA520;
    margin-top: 50px;
}

.chat_box {
    width: 250px;
    height: auto;
    padding: 10px;
    background-color: #E9967A;
    border-radius: 50px;
    border: 5px solid #F08080;
    box-sizing: border-box;
}

.chat-list {
    padding-right: 5px;
    height: 400px;
    margin-top: 15px;
    overflow: auto;
}


.default-scroll::-webkit-scrollbar-thumb {
      background-color: #C1C1C1;;
      border-radius: 9px;
}

.default-scroll::-webkit-scrollbar-thumb:hover {
      background: #979899;;
}
  
.default-scroll::-webkit-scrollbar {
      width: 9px;
      height: 9px;
}
  
.default-scroll::-webkit-scrollbar-track {
      border-radius: 9px;
      background: #E6E6E6;
}

.chat {
    width: 100%;
    display: flex;
    align-items: center;
}

.chat p {
    font-size: 15px;
    font-weight: 300;
}

.chat span {
    font-size: 20px;
    padding-left: 15px;
}

.input_bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.input_bar input {
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #CD5C5C;
    padding-left: 10px;
}

.input_bar :focus {
    outline: none;
    border: 3px solid #800000;
}

.input_bar span {
    padding-left: 10px;
}